# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular
/tools/ai-migrations
/migrations.json
/pnpm-lock.yaml
/pnpm-workspace.yaml
/CHANGELOG.md

.nx/self-healing