@use 'tailwindcss';

:host {
  .workletjs-hero-greeting-buttons {
    @apply mt-8 inline-flex items-center gap-4;

    a {
      --ng-doc-button-padding: var(--ng-doc-base-gutter) calc(var(--ng-doc-base-gutter) * 2);
      --ng-doc-font-size: 22px;
      --ng-doc-line-height: 32px;
      --ng-doc-font-weight: 600;

      background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
      background-size: 600%;
      -webkit-animation: anime 16s linear infinite;
      animation: scale 16s linear infinite;
      box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.2);
      transition:
        var(--ng-doc-transition) transform,
        box-shadow;

      &:hover {
        transform: scale(1.05);
      }

      @keyframes scale {
        0% {
          background-position: 0 50%;
        }

        50% {
          background-position: 100% 50%;
        }

        100% {
          background-position: 0 50%;
        }
      }
    }
  }
}
