@reference '../styles/tailwind.css';

:host {
  &.workletjs-landing-page {
    --ng-doc-page-max-width: auto;
    --ng-doc-page-padding: 0;
    --ng-doc-main-padding: 0;

    ng-doc-navbar {
      transition: 300ms ease-in-out;

      &:before {
        transition: 300ms ease-in-out;
      }

      &:not(.has-shadow) {
        --ng-doc-navbar-background: transparent;
      }
    }
  }

  .workletjs-nav {
    height: var(--ng-doc-navbar-height);
    line-height: var(--ng-doc-navbar-height);
    @apply inline-block px-3 border-b border-transparent font-medium text-gray-700 hover:text-ng-doc-primary transition-colors;

    &.active {
      @apply border-ng-doc-primary text-ng-doc-primary;
    }
  }
}
